

<%= pb_rails("card", props: { border_none: true, shadow: "deeper",padding:"none", margin_left: "sm", border_radius: 'none'}) do %>
    <div class="right">
        <% ticket_data.each_slice(1) do |tickets| %>
            <%= pb_rails("card", props: { border_radius: "none",  padding: "none", align_items: 'center', justify_content: 'center' }) do %>
                <% tickets.each do |ticket| %>
                    <%= pb_rails("icon_stat_value", props: ticket ) %>
                <% end %>
            <% end %>
        <% end %>
    </div> 
<%end%>


                
                
                
                    
                
                

                

